<template>
  <div id="app">
    <div v-show="isLoading" class="loading">
      <div class="loading-icon"></div>
    </div>

    <div class="card-container">
      <card
        v-for="(card, index) in cards.data"
        :key="index"
        v-bind:current="index === cards.index"
        v-bind:fullName="card.name"
        v-bind:picture="card.picture"
        v-bind:rating="card.rating"
        v-bind:approved="card.approved"
        v-on:draggedThreshold="setApproval"
      ></card>
    </div>
  </div>
</template>

<script>
import Card from "./Card.vue";

export default {
  components: { Card },
  data: () => ({
    isLoading: true, // Toggles the loading overlay
    cards: {
      data: null, // Array for card data
      index: 0, // Current index in the cards.data array
      max: 10 // Max cards to show in each stack
    }
  }),

  methods: {
    getData: function() {
      this.isLoading = true;
      this.cards.data = null;
      const self = this;

      // Get a random list of people
      const request = new XMLHttpRequest();
      const url = "https://randomuser.me/api/?results=" + this.cards.max;
      request.open("GET", url, true);

      request.onload = function() {
        const response = JSON.parse(request.responseText).results;

        const data = response.map(function(object) {
          // Construct a new array with objects containing only the relevent data from the original response data
          return {
            name: object.name.first + " " + object.name.last,
            picture: object.picture.large,
            rating: Math.floor(Math.random() * 5 + 1),
            approved: null
          };
        });

        // Fake delay for purposes of demonstration
        setTimeout(function() {
          self.cards.data = data;
          self.cards.index = 0;
          self.isLoading = false;
        }, 500);
      };

      request.send();
    },
    setApproval: function(approval) {
      // Change approval value for current card, and request new data if at the end of the card array
      this.cards.data[this.cards.index].approved = approval;
      this.cards.index++;

      if (this.cards.index >= this.cards.data.length) {
        this.getData();
      }
    }
  },

  mounted: function() {
    this.getData();
  }
};
</script>

<style lang="scss" scoped>
/* CONSTANTS */

$cardsTotal: 3;
$cardsWidth: 420px;
$cardsHeight: 550px;
$cardsPositionOffset: 10px;
$cardsScaleOffset: 0.02;

/* COLOURS */

$colour-white: #ffffff;
$colour-orange: #f0a435;
$colour-grey: #6e6e6e;
$colour-text: #444444;
$colour-background: #f3f3f3;

/* EXTENDS */

%backgroundContain {
  background: center center no-repeat transparent;
  background-size: contain;
}

/* MAIN */

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.card-container {
  position: relative;
  top: 50%;
  margin: 0 auto 0 auto;
  width: $cardsWidth;
  height: $cardsHeight + ($cardsPositionOffset * ($cardsTotal - 1));
  transform: translateY(-50%);
}

/* LOADING */

$loadingSize: 125px;

%loadingPosition {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -($loadingSize / 2);
  margin-top: -($loadingSize / 2);
}

%loadingBorder {
  width: $loadingSize;
  height: $loadingSize;
  border-radius: 50%;
  border: 4px solid $colour-white;
}

.loading {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($colour-orange, 0.5);
}

.loading > .loading-icon {
  width: $loadingSize;
  height: $loadingSize;
  @extend %loadingPosition;
}

.loading > .loading-icon:before,
.loading > .loading-icon:after {
  content: "";
  display: block;
  @extend %loadingPosition;
  @extend %loadingBorder;
}

.loading > .loading-icon:before {
  z-index: 0;
  animation: 1s pulse infinite linear;
}

.loading > .loading-icon:after {
  z-index: 10;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/617753/loading-default.jpg")
    center center no-repeat #ffffff;
  background-size: cover;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@-ms-keyframes pulse {
  0% {
    opacity: 0;
    -ms-transform: scale(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -ms-transform: scale(1.5);
  }
}

@-o-keyframes pulse {
  0% {
    opacity: 0;
    -o-transform: scale(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -o-transform: scale(1.5);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
</style>
