<p id='time'>system time</p>

<script
  src='https://raw.githubusercontent.com/joewalnes/reconnecting-websocket/master/reconnecting-websocket.js'></script>

<script>
  const ws = new ReconnectingWebSocket('ws://127.0.0.1:8000/feed');

  ws.onopen = (ev) => {
    console.log(`open`, ev)
  }

  ws.onclose = (ev) => {
    console.log(`close`, ev)
  }

  ws.onerror = (ev) => {
    console.log(`error`, ev)
  }

  ws.onmessage = (ev) => {
    // console.log(`message`, ev)
    const time = document.querySelector('#time');
    time.innerText = ev.data;
  }
</script>