<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>connect，receive message</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.3.4/dist/antd.min.css">

	<link rel="stylesheet" href="./res/rongcloud.css">
	<link ref='stylesheet' href='./connect-check.css'>
</head>

<body>

	<div class="panel" id="panel">
		<a-tag color='blue'>{{userId}}
			<a-icon :type="connection_status" />
		</a-tag>

		<a-input placeholder="Basic usage" v-model='userInput' />

		<a-list item-layout="horizontal" :data-source="messages">
			<a-list-item slot="renderItem" slot-scope="item, index">{{item.content.content}}</a-list-item>
		</a-list>
	</div>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.3.4/dist/antd.min.js"></script>

	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdn.bootcss.com/fingerprintjs2/2.0.6/fingerprint2.min.js"></script>

	<script src="//cdn.ronghub.com/RongIMLib-2.3.5.js"></script>
	<script src="//cdn.ronghub.com/RongEmoji-2.2.5.min.js"></script>

	<script src="./init.js"></script>
	<script src="./sink.js"></script>
</body>

</html>