<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>some tests</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.3.4/dist/antd.min.css">
  <!-- <link rel="stylesheet" href="./res/rongcloud.css"> -->
  <!-- <link rel="stylesheet" href="./res/api-test.css"> -->
  <link href="res/monokai_sublime.min.css" rel="stylesheet">
  <link rel="stylesheet" href="json-view/jsonview.css" />
</head>

<body>
  <section id='app'>
    <h1>client demo
      <a-tag> {{ userId }}</a-tag>
      <a-icon :type=" loggedIn ? 'check-circle' : 'loading'"></a-icon>
      <span style='font-size: 10;'>{{ isTyping ? 'typing ...' : ''}}</span>
    </h1>
    <strong>target</strong>
    <a-radio-group size='small' v-model='targetUserId' :default-value="targetUserId">
      <a-radio v-for='el of targets' :key='el' :value='el'>{{el}}</a-radio>
    </a-radio-group>
    <a-row>
      <a-col :span='12'>
        <a-input v-model='userInput' @change='handleUserTyping' @keydown.native='isTyping=true' @keyup.native='handleKeyup' @blur='isTyping=false' @keyup.enter.native='processUserInput' auto-focus>
        </a-input>
      </a-col>
      <a-col :span='12'>
      </a-col>
    </a-row>
    <div class="btns" id="btns" v-show='false'>
      <div class="title">
        <h2>当前登录用户 id：<span id="login"></span></h2>
        <input type="button" value="切换用户" onclick="changeUser();">
      </div>
      链接状态：
      <input type="button" value="断开链接" onclick="disconnect();">
      <input type="button" value="重新链接" onclick="reconnect();">
      <br>
      发送消息：
      <input type="button" value="文字消息(携带用户信息)" onclick="sendTextMessage();">
      <input type="button" value="图片消息" onclick="sendImageMessage();">
      <input type="button" value="文件消息" onclick="sendFileMessage();">
      <input type="button" value="语音消息" onclick="sendVoiceMessage();">
      <br />
      <input type="button" value="@ 消息" onclick="sendAtMessage();">
      <input type="button" value="富文本消息" onclick="sendRichContentMessage();">
      <input type="button" value="自定义消息" onclick="sendRegisterMessage();">
      <input type="button" value="位置消息" onclick="sendLocationMessage();">
      <input type="button" value="消息撤回" onclick="sendRecallMessage();">
      <br>
      接收消息：
      <input type="button" value="同步状态消息" onclick="SendSyncReadStatusMessage();">
      <input type="button" value="检查未读消息" onclick="checkUnreadMessage();">
      <input type="button" value="消息接收" onclick="receiveMessage();">
      <br>
      历史消息：
      <input type="button" value="获取列表" onclick="getHistroyMessage();">
      <input type="button" value="清空全部" onclick="clearHistroyMessage();">
      <br>
      会话：
      <input type="button" value="会话列表" onclick="getConversationList();">
      <input type="button" value="获取会话" title="需要在获取会话列表之后执行" onclick="getConversation();">
      <input type="button" value="会话未读数" onclick="getUnreadCount();">
      <input type="button" value="会话未读总数" onclick="getTotalUnreadCount();">
      <br />
      <input type="button" value="清除会话未读数" onclick="clearUnreadCount();">
      <input type="button" value="清除全部未读数" onclick="clearTotalUnreadCount();">
      <input type="button" value="删除指定会话" onclick="removeConversation();">
      <input type="button" value="删除所有会话" onclick="clearConversation();">
      <br>
      聊 天 室：
      <input type="button" value="加入聊天室" onclick="enterChatroom();">
      <input type="button" value="聊天室发消息" onclick="sendMessageToChatroom();">
      <input type="button" value="聊天室发题目" onclick="sendQAMessage();">
      <input type="button" value="退出聊天室" onclick="quitChatroom();">
      <input type="button" value="获取聊天室信息" onclick="getChatroomInfo();">
      <br>
      在线状态：
      <input type="button" value="设置自己在线状态" onclick="setUserStatus();">
      <input type="button" value="查询其他人在线状态" onclick="setUserStatusListener();">
      <br>
      <div class="rong-public-service" id="rong-public-service" style='display: none'>
        公众服务：
        <input type="button" value="获取已关注公众号" onclick="getPublicServiceList();">
        <input type="button" value="查找公众号" onclick="searchPublicService();">
        <!-- <input type="button" value="查找公众号 byType" onclick="searchPublicServiceByType();">  -->
        <input type="button" value="订阅公众号" onclick="subscribePublicService();">
        <input type="button" value="取消订阅公众号" onclick="unsubscribePublicService();">
        <input type="button" value="获取公众号信息" onclick="getPublicServiceProfile();">
        <input type="button" value="给公众号留言" onclick="sendToPublic();">
        <input type="button" value="公众号历史留言" onclick="getPublicHistroyMessage();">
      </div>
      <br>
    </div>
  </section>
  <div class="result" id="result-area" style='display: none'>
    <h3 id="result-title">运行结果：</h3>
    <div class="result-btns">
      <button id="collapse-btn">Collapse</button>
      <button id="expand-btn">Expand</button>
      <button id="toggle-btn">Toggle</button>
      <button id="toggle-level1-btn">Toggle level1</button>
      <button id="toggle-level2-btn">Toggle level2</button>
      <button class="result-code" id="result-code-btn">查看代码</button>
    </div>
    <div id="result-body"></div>
  </div>
  <ol id="show" class="show"></ol>
  <div id="show1"></div>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/fingerprintjs2/2.0.6/fingerprint2.min.js"></script>
  <!-- check.js是做一些环境监测用的临时代码，仅限开发调试使用 -->
  <!-- <script src="js/pre-check.js"></script> -->
  <!-- http://www.ghostchina.com/adding-syntax-highlighting-to-ghost-using-highlight-js/ -->
  <script src="res/highlight.min.js"></script>
  <script type="text/javascript" src="lib/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="json-view/jquery.jsonview.js"></script>
  <script src="//cdn.ronghub.com/RongIMLib-2.3.5.js"></script>
  <script src="//cdn.ronghub.com/RongEmoji-2.2.4.min.js"></script>
  <script src="//cdn.ronghub.com/RongIMVoice-2.2.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vuex/3.1.0/vuex.min.js"></script>
  <!-- <script src="https://unpkg.com/rxjs/bundles/rxjs.umd.js"></script> -->
  <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.3.4/dist/antd.min.js"></script>
  <!-- 声音样本文件 -->
  <script src="res/voice-amr-base64.json"></script>
  <!-- 二次封装的初始化代码 -->
  <script src="init.js"></script>
  <script src='app.js'></script>
  <scirpt type='module' src='./lib/chat.js'></scirpt>
  <script type='module' src='utils.js'></script>
  <script type='module' src='source.js'></script>
  <script>
  (function() {
    var t = document.getElementById("btns");
    var _code = document.getElementById("result-code-btn");
    var _funcName = "",
      _btnName = "";
    t.onclick = function(event) {
      var e = event || window.event;
      var node = e.target || e.srcElement;
      var tagName = node.tagName.toLowerCase();
      if (tagName == "input") {
        _funcName = node.getAttribute("onclick").split("(")[0];
        _btnName = node.innerHTML;
      }
    }
    _code.onclick = function() {
      var code = window[_funcName] + "";

      var start = new Date().getTime();
      showResult(_btnName, window[_funcName], start);
    }
  })();
  </script>
</body>

</html>