<template>
  <a-row>
    <a-col :span="12">
      <pannel/>
    </a-col>
    <a-col :span="12">
      <chatting/>
    </a-col>
  </a-row>
</template>


<script>
import Pannel from "./Pannel.vue";
import Chatting from "./Chatting.vue";

export default {
  components: { Pannel, Chatting }
};
</script>

