<template>
  <div>
    <section style="height: 80px"></section>
    <a-row :gutter="2">
      <a-col :offset="2" :span="18">
        <a-input
          v-model="userInput"
          @change="handleUserTyping"
          @keydown.native="isTyping=true"
          @keyup.native="handleKeyup"
          @blur="isTyping=false"
          @keyup.enter.native="processUserInput"
          auto-focus
        ></a-input>
      </a-col>
    </a-row>

    <br>

    <a-row>
      <a-col :offset="2">
        <a-tag color="green">connection: {{connectionStatus || 'none'}}</a-tag>

        <a-tag :color="userId === '' ? 'red': 'blue'">{{userId || 'none'}}</a-tag>
        <a-tag>{{connected ? 'connected' : 'disconnected'}}</a-tag>
        <a-tag :color="targetUserId === '' ? 'red': 'blue'">target: {{ targetUserId || 'none'}}</a-tag>
      </a-col>
    </a-row>

    <br>
    <a-row>
      <a-col :offset="2">
        <a-tag v-for="userId of onlineUserList" :key="userId">{{userId}}</a-tag>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import axios from "axios";

import * as rc from "./rc.js";

const RongIMLib = window.RongIMLib;
const RongIMClient = window.RongIMLib.RongIMClient;

export default {
  data() {
    return {
      connectionStatus: "",
      userId: "",
      instance: null,
      userInput: "",
      isTyping: false,
      targetUserId: "",
      connected: false,
      messages: [],
      onlineUserList: []
    };
  },
  computed: {
    ready() {
      return this.token !== "";
    },
    loggedIn() {
      return this.instance !== null;
    }
  },
  async mounted() {
    RongIMClient.init("8luwapkv8j5xl", null, {});
    this.instance = RongIMClient.getInstance();

    this.$notification.config({ placement: "bottomLeft" });
    await this.login();
    // await this.rcLogin();
  },
  methods: {
    async login() {
      const { data } = await axios.post("/login", {
        type: "telephone",
        telephone: "17380538161"
      });
      const token = data.payload.token;
      axios.defaults.headers.common["Authorization"] = `Bearer ${token}`;
    },

    handleConnected(instance) {
      this.connected = true;
      console.log(`connected`, this.instance);
    },

    getCurrentUser(user) {
      console.log(`user `, user);
    },

    receiveNewMessage(message) {
      this.$notification.open({
        message: `${message.senderUserId} says`,
        description: message.content.content
      });

      this.messages.push(message);
      // console.log(`receive message`, message);

      if (message.senderUserId === "system" && message.targetId === "system") {
        this.onlineUserList = JSON.parse(message.content.content);
      }
    },

    async rcLogin(userId = this.userId) {
      if (userId === "") {
        this.$message.error("userId 不能为空.");
        return;
      }

      const { data } = await axios.get("/api/rc/token", { params: { userId } });
      const { app_key, token } = data;
      const { getCurrentUser, receiveNewMessage } = this;

      rc.init(
        this,
        { appKey: app_key, token, imClient: null, userId },
        {
          getInstance: this.handleConnected,
          receiveNewMessage,
          getCurrentUser
        },
        {}
      );

      // RongIMLib.RongIMEmoji.init();
      // RongIMLib.RongIMVoice.init();
      // console.log(`done`, this.instance)
    },
    handleUserInput() {},
    handleUserTyping() {},
    handleKeyup() {
      const vm = this;
      setTimeout(() => {
        vm.isTyping = false;
      }, 5000);
    },

    disconnect() {
      this.instance.disconnect();
      this.connected = false;
    },

    reconnect() {
      RongIMClient.reconnect({
        onSuccess: userId => console.log(`reconnect，用户id ${userId}`),
        onTokenIncorrect: () => console.log("reconnect, token无效"),
        onError: function(errorCode) {
          let info = "";
          switch (errorCode) {
            case RongIMLib.ErrorCode.TIMEOUT:
              info = "超时";
              break;
            case RongIMLib.ErrorCode.UNKNOWN_ERROR:
              info = "未知错误";
              break;
            case RongIMLib.ErrorCode.UNACCEPTABLE_PROTOCOL_VERSION:
              info = "不可接受的协议版本";
              break;
            case RongIMLib.ErrorCode.IDENTIFIER_REJECTED:
              info = "appkey不正确";
              break;
            case RongIMLib.ErrorCode.SERVER_UNAVAILABLE:
              info = "服务器不可用";
              break;
          }
          console.log(`reconnect, error: ${info}`);
        }
      });
    },

    async rcLogout() {
      if (this.connected === false) {
        this.$message.error("not connected, cannot logout");
        return;
      }
      this.instance.logout();
      this.userId = "none";
      this.connected = false;
    },

    async rename(name) {
      if (name === this.userId) {
        console.log(`same name, no updating`);
        return;
      }

      this.userId = name;
      console.log(`renamed to ${this.userId}`);

      this.instance.logout();
      await this.rcLogin();
    },

    async processUserInput() {
      let content = this.userInput.trim();
      if (content[0] === "/") {
        const command = content.substr(1, content.length - 1).split(" ");
        console.log(command);

        if (command[0] === "rename" && command.length === 2) {
          await this.rename(command[1]);
        }

        if (command[0] === "logout") await this.rcLogout();

        if (command[0] === "login" && command.length === 2) {
          this.userId = command[1];
          await this.rcLogin();
          this.$message.success("logged in now ...");
        }

        if (command[0] === "disconnect") this.disconnect();

        if (command[0] === "reconnect") this.reconnect();

        if (command[0] === "set-target" && command.length === 2) {
          this.targetUserId = command[1];
        }
      } else {
        rc.sendTextMessage(this.targetUserId, this.userInput);
      }

      this.userInput = "";
      this.isTyping = false;
    }
  }
};
</script>
