<template>
  <div>
    <el-tag
      size="large"
      v-loading="loading_system_time"
      element-loading-spinner="el-icon-loading"
    >{{ loading_system_time ? ' ' : system_time}}</el-tag>

    <div class="hello">Hello. {{fingerprint}}</div>
    <el-input v-model="user_input" placeholder></el-input>

    <section>
      <el-tag>标签一</el-tag>
      <el-input-number
        size="small"
        v-model="counter"
        @change="handleCounterChange"
        :min="1"
        :max="50"
        label="description message here"
      ></el-input-number>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      user_input: ""
    };
  },
  computed: {
    counter: {
      get() {
        return this.$store.getters.counter;
      },
      set(value) {
        // this.$store.dispatch("update_counter", value);
      }
    },
    loading_system_time: {
      get() {
        return this.$store.getters.system_time === "";
      }
    },
    ...mapGetters(["system_time", "fingerprint"])
  },
  methods: {
    handleCounterChange(value) {
      console.log(`counter value updated: ${this.counter}, value: ${value}`);
      this.$store.dispatch("update_counter", value);
    }
  }
};
</script>

<style scoped>
.hello {
  color: red;
}
</style>
