<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="app">
    <p v-if="!active" @mouseover="mouseOver"> {{message}}</p>
    <div v-else @mouseleave="mouseOut">
      <input v-model="message" placeholder="edit me">
    </div>
  </div>
  <script type='module'>
    import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js'

    new Vue({
      el: "#app",
      data: {
        message: "Message can be shown here",
        active: false,
      },
      methods: {
        mouseOver: function () {
          this.active = true;

        },
        mouseOut: function () {
          this.active = false;
        }
      }
    });

  </script>
</body>

</html>