<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC webcam</title>


    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <style>
        button {
            padding: 8px 16px;
        }

        video {
            width: 100%;
        }

        #media {
            max-width: 1280px;
        }
    </style>

</head>

<body>
    <div id='app'>

        <el-select v-model="devices" placeholder="请选择">
            <el-option v-for='device in devices' :key='device' :label='device' :value='device'></el-option>
        </el-select>

        <button id="start" onclick="start()">Start</button>
        <button id="stop" style="display: none" onclick="stop()">Stop</button>

        <div id="media">
            <h2>Media</h2>

            <audio id="audio" autoplay="true"></audio>
            <video id="video" autoplay="true"></video>
        </div>
    </div>

    <script src='https://unpkg.com/vue@2.5.17/dist/vue.js'></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src='https://unpkg.com/axios@0.18.0/dist/axios.min.js'></script>
    <script src="client.js"></script>
</body>

</html>