<template>
  <div>
    <el-tag>{{isChannelReady ? `connected, ${system_time}` : 'connecting ...'}}</el-tag>
    <section>
      <el-tag>标签一</el-tag>
      <el-input-number
        size="small"
        v-model="counter"
        @change="handleCounterChange"
        :min="1"
        :max="50"
        label="description message here"
      ></el-input-number>
    </section>

    <el-table :data="events">
      <el-table-column prop="time" label="时间" width="180"></el-table-column>
      <el-table-column prop="event" label="事件" width="180"></el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      counter: 0
    };
  },
  computed: {
    isChannelReady: function() {
      return this.$store.getters.isChannelReady;
    },
    ...mapGetters(["system_time", "events"])
  },
  mouted() {
    console.log(`App mounted`);
  },
  methods: {
    handleCounterChange(value) {
      // console.log(`counter value updated: ${value}`);
      this.$store.dispatch("update_counter", { value });
    }
  }
};
</script>

<style scoped>
</style>
