body {
  font-size: 14px;
  line-height: 2;
  color: #333;
}

h1,
h2,
h3 {
  margin: 0;
}

.panel span {
  display: inline-block;
  width: 60px;
}

.show {
  display: none;
  font-size: 12px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px 30px;
  width: 300px;
  overflow: auto;
  position: fixed;
  right: 10px;
  top: 0;
  bottom: 10px;
}

.btns {
  display: none;
}

.btns input,
.btns a {
  font-size: 12px;
  margin: 20px 10px 0 10px;
}

.result {
  display: none;
  background: #f5f5f5;
  margin-top: 30px;
  width: 730px;
  padding: 5px;
  overflow: hidden;
}

.result h2 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.result btn {
  margin: 5px;
  padding: 0;
  color: #cd0000;
}

.result-code {
  float: right;
  margin: 0 5px 5px 0;
  color: #fff;
  background: #000;
  border: none;
}

#result-body {
  position: relative;
}

.code-copy {
  position: absolute;
  right: 5px;
  top: 5px;
}

.title {
  background: #f5f5f5;
  padding-left: 1em;
  padding-bottom: 1em;
}

.title h2 {
  display: inline;
  font-size: 14px;
  margin-right: 0.5em;
}