body {
			font-size: 80%;
		}

		.panel span {
			display: inline-block;
			width: 60px;
		}

		.show {
			width: 98%;
			display: inline-block;
			overflow: hidden;
			border: 1px solid #ccc;
		}

		.show h3 {
			text-indent: 10px;
		}

		.show pre {
			border-top: 1px dotted #ccc;
			padding: 5px 0 0 10px;
			line-height: 1.5;
			color: #333;
			background: #f5f5f5;
		}

		.show pre:nth-child(2n) {
			background: #ccc;
		}

		#joinChatRoom {
			display: none;
			background: #000;
			color: #fff;
		}