<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <el-tag>{{hash}}</el-tag>
    <el-button @click="handleFetchRcToken" size='small'>fetch rc token</el-button>
    {{appKey}}/
    {{token}}
  </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/fingerprintjs2/2.0.6/fingerprint2.min.js"></script>
<script src="https://cdn.bootcss.com/rxjs/6.4.0/rxjs.umd.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

<script src="//cdn.ronghub.com/RongIMLib-2.3.5.js"></script>
<script src="//cdn.ronghub.com/RongEmoji-2.2.4.min.js"></script>
<script src="//cdn.ronghub.com/RongIMVoice-2.2.4.min.js"></script>

<script src='./static/init.js'></script>
<script src='./static/app.js'></script>

</html>